@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";


.swiper-button-prev:after, .swiper-button-next:after {
    color: white;
}

/* .blur:hover {
    backdrop-filter: blur(0px);
    
  }
  
  .blur {
    background-color: red;
    backdrop-filter: blur(6px);
    transition: backdrop-filter 0.3s ease;
  } */